{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class=" shadow-lg">
    <div class="">
      <!-- Display the current question -->
      <h1 class="fs-10 text-center">{{ flashcard.question }}</h1>
    
      {% for flashcard in flashcards %}
      <div class="flashcard">
        <h1>{{ flashcard.question }}</h1> >
      </div>
      {% endfor %}



      <!-- Form -->
      <form method="POST" class="mt-4">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ flashcard.id }}" />
        <input
          type="hidden"
          name="current_question_index"
          value="{{ current_question_index }}"
        />

        <!-- Answer options with Bootstrap styling -->
        <div class="container mt-5">
            <div class="d-flex justify-content-center align-items-center flex-column">
              <!-- Card List -->
              <div class="cardList" data-answer="{{ flashcard.answer }}">
                <input
                  class="form-check-input"
                  type="radio"
                  name="answer_{{ flashcard.id }}"
                  id="choice1"
                  value="{{ flashcard.choice_1 }}"
                  style="display: none;"
                />
                <label for="choice1" class="custom-radio-label">
                  {{ flashcard.choice_1 }}
                </label>
              </div>
          
              <!-- Error Message -->
              {% if error_message %}
              <div class="alert alert-danger mt-3" role="alert">{{ error_message }}</div>
              {% endif %}
          
              <!-- Submit Button -->
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg">Next </button>
              </div>
          
              <!-- Flashcard Details Link -->
              <div class="flashcard mt-3 mb-4">
                <a href="{% url 'flashcard_details' pk=flashcard.pk %}" class="btn btn-primary">
                    Edit
                </a>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}


