{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="inline-welcome">
        <h1 class=" ">Welcome</h1>
        {% if user.is_authenticated %}
            <h1>{{ user.username }}</h1>
        {% endif %}
        <h1>to Flashcards App</h1>
    </div>
    
    
    <p class="fs-5 text-secondary mb-4">
        Boost your knowledge with our interactive flashcards. Choose a category and start learning!
    </p>

    <div class="d-flex flex-column align-items-center gap-3 mb-4">
        <!-- Botones de categorías -->
        <div class="d-flex justify-content-center gap-3">
            <button class="btn-randon2" onclick="location.href='/js/'">JavaScript</button>
            <button class="btn-randon2" onclick="location.href='/python/'">Python</button>
            <button class="btn-randon2" onclick="location.href='/sql/'">SQL</button>
            <button class="btn-randon2" onclick="location.href='/git/'">Git</button>
        </div>
    
        
        {% if user.is_authenticated %}
        <h2 class="mt-5">"Test your knowledge. Start the quiz now!"</h2>
        <a href="randon/" class="btn-randon2">
            Take the test
        </a>
        
        {% endif %}
    </div>
    
    


</div>




{% endblock %}
