{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="inline-welcome">
        <h1 class=" ">Welcome</h1>
        {% if user.is_authenticated %}
            <h1>{{ user.username }}</h1>
        {% endif %}
        <h1>to Flashcards App</h1>
    </div>
    
    
    <p class="fs-5 text-secondary mb-4">
        Boost your knowledge with our interactive flashcards. Choose a category and start learning!
    </p>

    <div class="d-flex justify-content-center gap-3 mb-4">
        <a href="leaderboard/" class="btn-randon2">
            See the ranking
        </a>
        {% if user.is_authenticated %}
       
        <a href="randon/" class="btn-randon2">
            Start randon
        </a>
        
        {% endif %}
    </div>
    


    {% if user.is_authenticated %}
    <div class="mt-4">
        <div class="d-flex justify-content-center gap-3">
            <a class="btn-randon2" href="/flashcard_form/">Create Flash Card</a>
            <a class="btn-randon2" href="/flashcard_list/">Flash List</a>
        </div>
    </div>
    {% endif %}
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Ranking Table</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Usuario</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard_data|slice:":5" %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
