{% extends 'base.html' %}
{% load static %}

<script src="{% static 'js/score.js' %}"></script>

{% block content %}
<h2>Tabla de Clasificación</h2>

<table border="1">
    <tr>
        <th>Posición</th>
        <th>Usuario</th>
        <th>Puntos</th>
    </tr>
    {% for entry in leaderboard_data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ entry.username }}</td>
        <td>{{ entry.points }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
