<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
</head>
<body>
    <h1>Questions from the Database (Ordered by ID)</h1>
    <strong>Question ID: {{ project.id }}</strong> - {{ project.question }}
    <form method="POST">
        {% csrf_token %}
     
        <input type="hidden" name="question_id" value="{{ project.id }}">
        <input type="hidden" name="current_question_index" value="{{ current_question_index }}">
        
        <!-- Opciones de respuesta con un nombre único para cada pregunta -->
        <label>
            <input type="radio" name="answer_{{ project.id }}" value="{{ project.choice_1 }}">
            {{ project.choice_1 }}
        </label><br>
        <label>
            <input type="radio" name="answer_{{ project.id }}" value="{{ project.choice_2 }}">
            {{ project.choice_2 }}
        </label><br>
        <label>
            <input type="radio" name="answer_{{ project.id }}" value="{{ project.choice_3 }}">
            {{ project.choice_3 }}
        </label><br>
        <label>
            <input type="radio" name="answer_{{ project.id }}" value="{{ project.choice_4 }}">
            {{ project.choice_4 }}
        </label><br>

        <button type="submit">Submit Answer</button>
    </form>


</body>
</html>
