{% extends "base.html" %}

{% block title %}Python Questions{% endblock %}

{% block content %}
<div class="card shadow-lg">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6 ">
                    <p>{{ level }}</p>
                </div>
                <div class="col-6 text-end">
                    <p><strong>{{ remaining_questions }}</strong></p>
                </div>
            </div>
        </div>
        <!-- Mostrar la pregunta -->
        <p class="fs-5 text-center">{{ project.question }}</p>

        <!-- Formulario -->
        <form method="POST" class="mt-4">
            {% csrf_token %}

            <input type="hidden" name="question_id" value="{{ project.id }}" />
            <input
                type="hidden"
                name="current_question_index"
                value="{{ current_question_index }}"
            />

            <!-- Opciones de respuesta -->
            <div class="question-container">
                <div class="form-check">
                    <input
                        class="d-none"
                        type="radio"
                        name="answer_{{ project.id }}"
                        id="choice1"
                        value="{{ project.choice_1 }}"
                    />
                    <label class="answer-option" for="choice1">
                        {{ project.choice_1 }}
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="d-none"
                        type="radio"
                        name="answer_{{ project.id }}"
                        id="choice2"
                        value="{{ project.choice_2 }}"
                    />
                    <label class="answer-option" for="choice2">
                        {{ project.choice_2 }}
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="d-none"
                        type="radio"
                        name="answer_{{ project.id }}"
                        id="choice3"
                        value="{{ project.choice_3 }}"
                    />
                    <label class="answer-option" for="choice3">
                        {{ project.choice_3 }}
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="d-none"
                        type="radio"
                        name="answer_{{ project.id }}"
                        id="choice4"
                        value="{{ project.choice_4 }}"
                    />
                    <label class="answer-option" for="choice4">
                        {{ project.choice_4 }}
                    </label>
                </div>
            </div>

            {% if error_message %}
            <div class="alert alert-danger mt-3 text-center" role="alert">
                {{ error_message }}
            </div>
            {% endif %}

            <!-- Botón de envío -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg ">
                    Submit Answer
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
