.cardList {
    position: relative;
    width: 400px;
    height: 200px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden; 
  }
  
  .cardList::before,
  .cardList::after {
    position: absolute;
    content: "click here ";
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
  }
  
  .cardList::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .cardList::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  
  .cardList:hover::before,
  .cardList:hover::after {
    width: 0,1%; 
    height: 5%; 
    content: "";
    border-radius: 15px;
    transition: all 0.5s;
  }
  