@import url("./table.css");
@import url("./form.css");
@import url("./cardList.css");
@import url("./buttons.css");






.hidden-field {
  display: none;
}



 /* text on the quiestions */
 .inline-welcome {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  font-size: 24px;
  text-align: center;
}

.inline-welcome h1,
.inline-welcome h3 {
  margin: 0; 
  display: inline;
}







/* Contenedor que agrupa las preguntas */
.question-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px; /* Espacio entre las preguntas */
  justify-items: center; /* Centra las preguntas */
  margin-top: 20px;
}

/* Asegura que cada pregunta ocupe un espacio adecuado */
.question {
  width: 100%; /* Asegura que las preguntas tengan un tamaño apropiado */
  max-width: 250px; /* Limita el tamaño máximo */
}

/* Estilos para las opciones de respuesta */
.answer-option {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border-radius: 0.4em;
  width: 100%;
}

/* Cambiar el color de fondo cuando el radio button está seleccionado */
input[type="radio"]:checked + label {
  background-color: #007bff;
  color: white;
}

/* Cambiar el color de fondo y texto cuando el ratón pasa sobre el botón */
.answer-option:hover {
  background-color: #0056b3;
  color: white;
}

/* Cambiar el color cuando el botón está activo (clickeado) */
.answer-option:active {
  background-color: #004085;
  color: white;
}

/* Estilo para los botones de envío */
.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 1em 2em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #28a745;
  border-radius: 0.4em;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto;
}

.submit-btn:hover {
  background-color: #218838;
}

.submit-btn:active {
  background-color: #1e7e34;
}


